<!DOCTYPE html>
<html lang="en" class="has-background-grey-light">
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Tablet and Up -->
    <%- include('../partials/tablet-up.ejs') %>
    <!-- END Tablet and Up -->

    <!-- Mobile View -->
    <div class="is-hidden-tablet">
      <!-- Nav -->
      <%- include('../partials/nav.ejs') %>
      <!-- END Nav -->
      <div
        class="hero has-background-grey-light is-fullheight has-text-centered"
      >
        <div class="hero-body p-2">
          <div class="container">
            <!-- Brand -->
            <%- include('../partials/brand.ejs') %>
            <!-- END Brand -->

            <!-- List Pertanyaan -->
            <div class="box has-background-grey-lighter m-0 p-2">
              <% if (forms.length > 0) { %>
                <div>
                  <% forms.forEach(el=> { %>
                    <a href="/kreator/kuesioner-detail/?id=<%= el._id %>" class="box m-2 p-2 <%= el.status == "publish"?"has-background-info-light":"has-background-warning-light" %> ">
                      <div class="level">
                        <div class="level-item my-0">
                          <p class="title is-6">
                            <%= el.judul %>
                          </p>
                        </div>
                        <div class="level-item mt-2">
                          <p class="help">
                            <%= el.createdAt %>
                          </p>
                        </div>
                      </div>
                    </a>
                    <% }) %>
                </div>
                <% } else { %>
                 <p class="title is-5 mb-2">- Belum ada kuesioner -</p>
                 <p class="help">Buat kuesioner <a href="/kreator/kuesioner-tambah">disini</a></p>
              <% } %>

            </div>
            <!-- END List Pertanyaan -->

            <!-- Back -->
            <%- include('../partials/back.ejs') %>
            <!-- END Back -->
          </div>
        </div>
      </div>
    </div>
    <!-- END Mobile View -->
    <%- include('../partials/script.ejs') %>
  </body>
</html>
