<!DOCTYPE html>
<html lang="en" class="has-background-grey-light">
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Tablet and Up -->
    <%- include('../partials/tablet-up.ejs') %>
    <!-- END Tablet and Up -->

    <!-- Mobile View -->
    <div class="is-hidden-tablet">
      <!-- Nav -->
      <%- include('../partials/nav.ejs') %>
      <!-- END Nav -->
      <div
        class="hero has-background-grey-light is-fullheight has-text-centered"
      >
        <div class="hero-body p-2">
          <div class="container">
            <!-- Brand -->
            <%- include('../partials/brand.ejs') %>
            <!-- END Brand -->

            <!-- List Pertanyaan -->
<% if (forms.length > 0) { %>
 
  <% } else { %>
   <p class="title is-4">- Belum ada kuesioner -</p>
   <p class="subtitle is-4">Buat kuesioner <a href="/kreator/kuesioner-tambah">disini</a></p>
<% } %>
            <!-- END List Pertanyaan -->

            <!-- Back -->
            <%- include('../partials/back.ejs') %>
            <!-- END Back -->
          </div>
        </div>
      </div>
    </div>
    <!-- END Mobile View -->
    <%- include('../partials/script.ejs') %>
  </body>
</html>
