<!DOCTYPE html>
<html lang="en" class="has-background-grey-light">
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Tablet and Up -->
    <%- include('../partials/tablet-up.ejs') %>
    <!-- END Tablet and Up -->

    <!-- Mobile View -->
    <div class="is-hidden-tablet">
      <!-- Nav -->
      <%- include('../partials/nav.ejs') %>
      <!-- END Nav -->
      <div
        class="hero has-background-grey-light is-fullheight has-text-centered"
      >
        <div class="hero-body p-2">
          <div class="container">
            <!-- Brand -->
            <%- include('../partials/brand.ejs') %>
            <!-- END Brand -->

            <!-- Box Profil -->
            <div class="box has-background-grey-lighter m-0">
              <div class="columns is-mobile is-centered">
                <div class="column">
                  <!-- Detail -->
                  <figure class="image container is-64x64">
                    <img src="<%= pml.avatar %>" alt="Image" />
                  </figure>
                  <% for( let i = 0; i < keys.length; i++ ) { %>
                  <div class="field">
                    <label class="label is-capitalized"><%= keys[i] %></label>
                    <div class="control">
                      <input
                        class="input is-capitalized"
                        type="text"
                        value="<%= kreator[keys[i]] %>"
                        readonly
                      />
                    </div>
                  </div>
                  <% } %>
                  <!-- END Detail -->
                </div>
              </div>

              <!-- Tombol -->
              <div class="field">
                <div class="control">
                  <button
                    disabled
                    href="#"
                    class="button is-fullwidth is-warning is-light"
                  >
                    <i class="material-icons-round mr-2"> edit </i>
                    <span class="is-capitalized">Ubah data</span>
                  </button>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button
                    disabled
                    href="#"
                    class="button is-fullwidth is-danger is-light"
                  >
                    <i class="material-icons-round mr-2"> password </i>
                    <span class="is-capitalized">ubah password</span>
                  </button>
                </div>
              </div>

              <!-- ENDTombol -->
            </div>
            <!-- END Box Profil -->

            <!-- Back -->
            <%- include('../partials/back.ejs') %>
            <!-- END Back -->
          </div>
        </div>
      </div>
    </div>
    <!-- END Mobile View -->
    <%- include('../partials/script.ejs') %>
  </body>
</html>
